@charset "UTF-8";
.mainmenulist {
  /*float: left;*/
  list-style: none;
  /*margin: 0 0 -4px;
  padding: 0;*/
}
.mainmenulist > li {
  float: left;
  line-height: 43px;
  /*position: relative;*/
}

.mainmenulist > li > a {
  width: 100%;
  padding: 5px 10px;
}

a.mainmenulink.active{
	background-color: blue;
	color: white;
}