<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property resource="logback.properties" />

	<if condition='property("MODE").equals("prod")'>
		<then>
			<include resource="logback-prod.xml" />
		</then>
	</if>
	<if condition='property("MODE").equals("dev")'>
		<then>
			<include resource="logback-dev.xml" />
		</then>
	</if>

</configuration>